<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑客户类别</h2>
    </div>
    <form action="{:U('Custom/categoryManageUpdate')}" method="post" class="form-horizontal">

        <div class="form-item">
            <label class="item-label">类别名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="type_name" value="{$_data.type_name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">类别描述</label>
            <div class="controls">
                <input type="text" class="text input-large" name="type_description" value="{$_data.type_description}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">操作人</label>
            <div class="controls">
                <input type="text" class="text input-large" name="operator" value="{$_data.operator}">
            </div>
        </div>
        <div class="form-item">
        <!-- 有ajax     -->
        	<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
        <input type="hidden" name="id" value="{$_data.id}"/> 
    </form>
</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Custom/categoryManage')}');
    </script>
</block>
