<extend name="Public/base"/>

<block name="body">
<style>
	div .mess{
		font-size: 16px;
		font-family: "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
	}
	
</style>
    <div class="main-title">
        <h2>从EXCEL导入客户资料</h2>
    </div>
    <div class="mess">
    	<div>温馨提示：</div>
    	<div>
	    		1. 系统当前只支持xls文件的数据导入。 <a href="__STATIC__/customs.xls">下载Excel模板</a><br>
				2. 请按系统提供的EXCEL模板，调整对应的数据，第一行的字段名称是固定的，更改后，系统将无法识别，也不可删除；<br>
				3. 导入文件的第一行将视为字段名，不会被导入。<br>
				4. 日期格式必须是2011-01-01或2011-01-01 08:10:10格式的，否则系统将按空值或当前日期处理。<br>
				5. 数值型格式必须合法，否则系统将按0处理。<br>
				6. 客户名称为必填字段，请确保在导入时存在有效值。<br>
				7. 合同开始日期和结束日期，如果不填，默认为1900-01-01。<br>
				8. 一次性导入的数据量，不要超过500条数据，以避免因网络故障导致的数据库相关问题；<br>
    	</div>
    	<div>
    		<form action="{:U(Custom/customlistExcelUpload)}" method="post" enctype="multipart/form-data" >
    			<input  type="file" name="import" id="file">
    			<input class="btn" type="submit" value="开始导入" onclick="return checkfile();">
    			<!-- <button class="submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">导入</button> -->
    		</form>
    	</div>
    </div>
    
    
</block>
<block name="script">
<script type="text/javascript">
	function checkfile(){
		var f = document.getElementById('file').value;
		if(f == ''){
			updateAlert("请选择要修改的数据");
			setTimeout(function(){
            	$('#top-alert').find('button').click();
            },1500);
			return false;
		}
	}

</script>
	
</block>
