<block name="body">
<style>
	table.record_t{
		width: 100%;
		font-family: "Microsoft Yahei",arial,sans-serif;
		font-size: 16px;
		text-align: center;
	}
	
	 .tr_bk{
	 	font-weight: bold;
	 	background: #DFDFDF;
	 }
</style>

    <table class="record_t">
	    <tr class="tr_bk">
	    	<td width="200px">联系时间&客服</td>
	    	<td>联系内容</td>
	    	<td width="200px">类型&联系人</td>
	    	<td width="200px">联系方式&号码</td>
	    	<td width="120px">预约时间</td>
	    	<td width="100px">操作</td>
	    </tr>
    <notempty name="_feed">
    	<volist name="_feed" id="vo">
	    	<tr class="tr_style">
	    		<td>{$vo.last_time|date="Y-m-d H:i:s",###}<br>
	    			{$vo.customer_service}
	    		</td>
	    		<td>{$vo.contact_content}</td>
	    		<td>{$vo.contact_type}<br>
	    			{$vo.contact_name}
	    		</td>
	    		<td>{$vo.contact_way}<br>
	    			{$vo.txttel}
	    		</td>
	    		<td>{$vo.appoint_time|date="Y-m-d",###}<br>{$vo.appoint_time|date="H:i:s",###}</td>
	    		<td>
	    			<a href="">编辑</a>&nbsp;&nbsp;
	    			<a href="">删除</a>
	    		</td>
	    	</tr>
	    </volist>
    <else/>
			<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
	</notempty>
    	
    </table>
    
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script>
		var obj = document.getElementsByClassName('tr_style');
		for(var i=0; i<obj.length; i++){
			if(i % 2 == 0){
				obj[i].style.background="#FFF";
			}	
		}
	</script>
</block>
