<extend name="Public/base"/>

<block name="body">
<style>
	table.gritable{
		border: 1px;
		width: 60%;
		height: 188px;
		font-family: "Microsoft Yahei",arial,sans-serif;
		font-size: 16px;
	}
	table.gritable td{
		width: 335px;
		padding: 10px;
	
	}
</style>
	<script type="text/javascript" src="__STATIC__/js/laydate.js"></script>
    <div class="main-title">
        <h2>新增联系记录</h2>
    </div>
    <form action="{:U('Custom/feedbackListAdd')}" method="post" class="form-horizontal">
    <table class="gritable" >
    <volist name="_list" id="vo">
    	<tr>
    		<input type="hidden" name="customer_number" value="{$vo.customer_number}">
    		<td>客户名称：{$vo.customer_name}<input type="hidden" name="customer_name" value="{$vo.customer_name}"></td>
    		<td>联系人：<input type="text" class="text" name="contact_name" value="{$vo.contact_name}" ></td>
    	</tr>
    	<tr>
    		<td>客户类别：{$vo.customer_type}</td>
    		
    	</tr>
    	<tr>
    		<td>
    		联系方式：
    			<select name="contact_way" id="contact_way" onchange="change();" style="width:185px">
    				<option value="手机">手机</option>
    				<option value="固定电话">固定电话</option>
    				<option value="QQ">QQ</option>
    				<option value="微信">微信</option>
    			</select>
			</td>
    		<td><span id="way_name">手机</span>：<input type="text" class="text" name="txttel" value="{$vo.tel}" ></td>
    		
    		
    	</tr>
    	<tr>
    		<td colspan="2">
    		<div style="float:left;">联系内容：</div>
    		<div><textarea name="contact_content" rows="3" cols="60"></textarea></div>
    		</td>
    	</tr>
    	<tr>
    		<td>联系客服：<input type="text" class="text" name="customer_service" value="{$vo.customer_service}" ></td>
    		<td>联系时间：<input type="text" class="text" name="last_time" 
                onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                value="{:date('Y-m-d H:i:s',time())}"></td>
    	</tr>
    	<tr>
    		<td>联系类型：
    		<select style="width:185px" name="contact_type">
    			<option value="客户回访">客户回访</option>
    			<option value="客户来电">客户来电</option>
    		</select>
    		</td>
    		<td>下次联系：<input type="text" class="text" placeholder="请输入日期" name="appoint_time" 
	                onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"></td>
    	</tr>
    	<tr>
    		<td colspan="2">
    		<div style="float:left;">下次目标：</div>
    		<div><textarea rows="3" cols="60" name="next_content" ></textarea></div>
    		</td>
    	</tr>
    </volist>
    </table>
        <div class="form-item">
        <!-- 有ajax     -->
        	<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
<script src="__STATIC__/select.js"></script>
<script type="text/javascript" defer>
    function change(){
    	var sel = document.getElementById('contact_way');
    	var way = ['手机','固定电话','QQ','微信'];
    	var way_name = '手机';
    	for(var i=0,len=way.length; i<len; i++){
    		if(way[i] == sel.value){
    			way_name = way[i];
    		}
    	}
    	document.getElementById('way_name').innerHTML = way_name;
    }
    
  //导航高亮
    highlight_subnav('{:U('Custom/customList')}');

</script>
</block>

